/*
Google Green
Hex: #3cba54
RGB: 60, 186, 84
Google Yellow
Hex: #f4c20d
RGB: 244, 194, 13
Google Red
Hex: #db3236
RGB: 219, 50, 54
Google Blue
Hex: #4885ed
RGB: 72, 133, 237
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #72CC83; /*light green, based on Goolge green */
  color: white;
}

/* BEGIN clock css */
.dateString{
	color:#585453; 
}

.hourString {
	width: 50px;
	height: 50px;
	color: white;
	background-color:#585453 ;
	font-size: 250%;
	display:inline-block;
	text-align: center;
	border-radius:10px;
}

.secondString {
	width: 50px;
	height: 50px;
	color: #585453; /*clock gray*/
	background-color:white ;
	font-size: 250%;
	display:inline-block;
	text-align: center;
	border-radius:10px;
}

.dotString {
	width: 20px;
	height:50px;
	font-size: 250%;
	display:inline-block;
	text-align: center;
}
/* END clock css */